
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   margin: 0;
   padding: 0;
   font-family: "Google Sans", sans-serif;
   scroll-behavior: smooth;
}

.donate-page{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}

.donate-left-container{
    width: 50%;
    background-color: purple;
}


.donate-title{
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    margin-top: 20px;
    align-items: center;
}

.donate-title img{
    width: 50px;
    border: 1px solid #000;
    border-radius: 50px;
    margin-right: 20px;
}

.donate-title h1{
    font-size: 23px;
    color: white;
}

.donate-input{
    margin-left: 50px;
    margin-top: 18px;
}

.donate-input h1{
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.donate-value{
    width: 200px;
    height: 50px;
    margin-bottom: 13px;
    border-radius: 50px;
    border: 1px solid white;
    background: transparent;
}

.donate-value:focus{
    outline: 2px solid white;
    border-color: purple;
}

.donate-input p{
    font-size: 16px;
    margin-bottom: 20px;
    color: purple;
}

.donate-value-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.donate-value{
    color: white;
    font-size: 20px;
    padding-left: 50px;
    position: relative;
}

.currency p{
   position: absolute;
   top: 139px;
   margin-left: 25px;
   font-size: 19px;
   color: white;
}


.change-amount{
    padding: 10px 30px;
    border-radius: 5px;
    background-color: white;
    color: purple;
    outline: none;
    border: none;
    transition: 01s;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}

.change-amount:hover{
    background-color: lightgreen;
    color: white;
}



.donate-right-container{
    width: 50%;
    border: 1px solid purple;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

.form-container{
    width: 90%;
}

form{
    display: flex;
    flex-direction: column;
}

.group-label{
    margin-top: 20px;
    margin-left: 30px;
    color: purple;
    font-size: 14px;
}

.group-input{
    padding: 10px 30px;
    width: 500px;
    margin-top: 5px;
    margin-bottom: 5px;
    outline: none;
    caret-color: #000;
    margin-left: 30px;
    border-radius: 50px;
    border: 1px solid purple;
}


.payment{
    margin-top: 20px;
}


.payment-label{
    font-size: 14px;
    margin-left: 30px;
}

.card-payment-container{
    width: 500px;
    height: 50px;
    background-color: white;
    margin-left: 30px;
    margin-top: 8px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #000;
}

.card-payment-container-left{
    width: 150px;
    background-color: white;
    border-right: 1px solid #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    padding-right: 10px;
}

.card-payment-container-left .radio{
    width: 18px;
    height: 18px;
    accent-color: #000;
    cursor: pointer;
}

.card-payment-container-left img{
    width: 35px;
}

.card-payment-container-left .checkbox{
    border: 1px solid grey;
    padding: 5px 5px;
}

.card-payment-container-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
}
.payment .method{
    font-weight: bold;
    font-size: 14px;
    margin-left: 30px;
}

.card-payment-container-right img{
    width: 35px;
}

.payment-button{
    width: 500px;
    height: 50px;
    background-color: purple;
    margin-left: 30px;
    margin-top: px;
    border: none;
    margin-bottom: 10px;
    margin-top: 5px;
    transition: 0.8s;
    color: white;
    border-radius: 50px;
}

.payment-button:hover{
    background-color: lightgreen;
    border: none;
}


.card-details-container{
    width: 500px;
    margin-top: 10px;
    margin-left: 30px;
    display: none;
}

.card-details-container.active{
    display: block;
}

.card-details-container h1{
    font-size: 14px;
    margin-bottom: 10px;
    color: purple;
}

.group-input1{
    padding: 10px 30px;
    width: 100%;
    margin-top: 5px;
    caret-color: #000;
    border: 1px solid purple;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: none;
}

.group-input2{
    padding: 10px 30px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    outline: none;
    caret-color: #000;
    border-radius: 5px;
    border: 1px solid purple;
}



@media screen and (max-width: 768px){
 
.donate-page{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.donate-left-container{
    width: 100%;
   
}


.donate-right-container{
   width: 100%;
}

.change-amount {
   margin-bottom: 20px;
}


form{
        align-items: center;
        margin-bottom: 30px;
    }

.group-label,
.payment-label,
.payment .method{
        margin-left: 0;
        width: 90%;
    }

.group-input,
.card-payment-container,
.payment-button,
.group-input1,
.group-input2,
.card-details-container{
        width: 90%;
        margin-left: 0;
        margin-right: 20px;
        flex-shrink: 0;
    }


.payment{
    width: 90%;
    margin: 20px auto 0;
}

.payment .method{
    margin-left: 0;
}

.card-payment-container{
    width: 100%;
    margin-left: 0;
}

.payment-button{
    width: 90%;
    margin-left: 0;
}


}


@media screen and (min-width:769px) and (max-width:1090px){

.donate-page{
    display:flex;
    flex-direction:column;
}

.donate-left-container{
     width:100%;
     
}

.donate-right-container{
    width:100%;
    display: flex;
    justify-content: center;
    background-color: white;
    border-top: none;
    border-bottom: none;
   
}

.donate-title{
    padding:30px;
}

.donate-input{
    margin:30px;
}

form{
    width: 90%;
   padding-left: 30px;
   margin-bottom: 30px;
   background-color: white;
   display: flex;
   flex-shrink: 0;
   margin-top: 20px;
   border: 1px solid #000;
   border-radius: 10px;
   border-right: none;
}

.group-label,
.payment .method{
    margin-left:0;
}

.group-input,
.card-payment-container,
.payment-button,
.group-input1,
.group-input2,
.card-details-container{
    width:100%;
    max-width:700px;
    margin-left:0;
    
}

.payment{
    width:100%;
}

.payment-button{
    margin-top:15px;
}

.card-payment-container-left{
    width:180px;
}

.card-payment-container-right img{
    width:32px;
    margin-left:6px;
}

.donate-value {
    position: relative;
}

.currency{
    position: absolute;
    top: 72px;
}
}