
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   margin: 0;
   padding: 0;
   font-family: "Google Sans", sans-serif;
   caret-color: transparent;
   scroll-behavior: smooth;
  
}

.active{
    background-color: lightgreen;
    padding: 5px 30px;
}

.header{
    height: 150px;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;

}

.left-section{
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #000;
}

.logo{
    width: 70px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
    display: none;
}

.brand{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5px;
}

.brand-name{
    font-size: 29px;
    color: purple;
    font-weight: bold;
}

.brand-slogan{
    font-size: 19px;
    font-weight: bold;
    color: purple;
}

.brand-tagline{
   font-size: 14px;
   color: purple;
   font-weight: 100;
}



.middle-section{
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.middle-section .navbar-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;

}

.navbar-menu li a{
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: purple;
    transition: 0.5s;
}

.navbar-menu li a:hover{
    background-color: purple;
    color: white;
    padding: 5px 30px;
    border-radius: 50px;
    font-weight: 100;
}



.right-section{
    background-color: white;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid #000;
}

.heart-icon img{
    width: 35px;
}

.heart-icon{
    position: absolute;
    right: 50px;
    margin-top: 6px;
}

.donate-button{
    background-color: purple;
    color: white;
    padding: 10px 30px;
    border-radius: 50px;
    margin-left: 30px;
    padding-right: 80px;
    border: none;
    position: relative;
    transition: 1s;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
}

.donate-button:hover{
    background-color: lightgreen;
}





.hero-page{
    background-color: #000;
    width: 100%;
    height: 434px;
}

.hero-banner{
    width: 100%;
    height: 434px;
    position: relative;
}


.hero-footer{
    width: 100%;
    background-color: white;
    height: 25px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    bottom: 1px;
}

.copyright{
    font-size: 10px;
    padding-left: 20px;
    padding-top: 3px;
    color: purple;
    width: 500px;
    height: 18px;
    display: flex;
    justify-content: center;
}


.hero-info{
    width: 600px;
    height: 370px;
    background-color: transparent;
    position: absolute;
    bottom: 50px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    opacity: 0.8;
}

.hero-tagline{
   background-color: white;
    width: 50%;
    padding: 10px;
    color: purple;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.hero-title1{
    font-size: 30px;
    color: white;
    padding-left: 20px;
    margin-top: 10px;
}

.hero-title2{
    font-size: 30px;
    color: white;
    margin: 10px 0;
    padding-left: 20px;
}

.hero-title3{
    font-size: 50px;
    color: lightgreen;
    padding-left: 20px;
}

.hero-description{
    font-size: 14px;
    line-height: 1.7;
    text-align: start;
    color: white;
    padding-left: 20px;
    width: 80%;
    margin-top: 10px;
}


.hero-buttons{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 30px;
}

.impact-button .impact-button-1{
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 30px ;
    color: white;
    margin-left: 30px;
    padding-right: 80px;
    border-radius: 50px;
    position: relative;
    transition: 1s;
    text-decoration: none;
    font-size: 14px;
}

.impact-button .impact-button-1:hover{
    background-color: transparent;
    border: 1px solid purple;
}

.heart-icon2 img{
    width: 30px;
    position: absolute;
    left: 200px;
    top: 322px;
}


.story-button .story-button-1{
    background-color: transparent;
    padding: 10px 30px ;
    color: white;
    padding-right: 80px;
    border-radius: 50px;
    border: none;
    position: relative;
    margin-left: 20px;
    text-decoration: none;
    font-size: 14px;
    transition: 1s;
    border: 1px solid white;
    display: none;
    cursor: progress;
}

.arrow img{
    width: 25px;
    position: absolute;
    left: 153px;
    top: 322px;
    opacity: 0;
}

.story-button .story-button-1:hover{
    background-color: transparent;
   border: 1px solid purple;
}




.mobile-menu{
    display: none;
}

.bar {
display: block;
width: 20px;
height: 2px;
background-color: purple;
margin: 5px 0;
}

.navbar-toggle {
background: none;
border: none;
cursor: pointer;
text-align: center;
display: none;
}


@media screen and (max-width: 768px){
  
 .left-section{
        width: 200px;
        padding-left: 10px;
        padding-right: 10px;
        flex-shrink: 0;
        border: none;
    }

    .right-section{
        width: 200px;
        flex-shrink: 0;

    }

    .middle-section{
        border: none;
        flex: 1;
        flex-shrink: 0;
        width: 268px;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .middle-section .navbar-menu{
        display: none;
    }

  .heart-icon{
    position: absolute;
    right: 25px;
    margin-top: 6px;
}

    .navbar-toggle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

.mobile-menu{
    position: fixed;
    top: 155px;
    left: 50%;
    transform: translateX(100%);
    width: 80%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 1.5s ease;
    z-index: 999;
}

.mobile-menu.show{
    transform: translateX(-50%);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}



.mobile-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    
}

.mobile-menu ul li{
    margin: 20px 0;
}

.mobile-menu ul li a{
    text-decoration: none;
    font-size: 14px;
    color: purple;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    padding: 5px 0;
}

.mobile-menu ul li a:hover{
    background-color: purple;
    padding: 5px 30px;
    color:white;
}

.arrow img{
    width: 25px;
    position: absolute;
    left: 153px;
    top: 333px;
}

.heart-icon2 img {
    width: 30px;
    position: absolute;
    left: 200px;
    top: 330px;
}

.hero-description{
   width: 70%;
}

.hero-buttons{
    margin-top: 39px;
}



}

@media (min-width:769px) and (max-width:1090px){

    .middle-section .navbar-menu{
        display:none;
    }

    .navbar-toggle{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }

    .middle-section{
        justify-content:center;
        align-items:center;
        position:relative;
    }

    .mobile-menu{
        position:fixed;
        top:155px;
        left:50%;
        transform:translateX(100%);
        width:60%;
        background:white;
        display:flex;
        flex-direction:column;
        align-items:center;
        opacity:0;
        visibility:hidden;
        pointer-events:none;
        transition:1.5s ease;
        z-index:999;
    }

    .mobile-menu.show{
        transform:translateX(-50%);
        opacity:1;
        visibility:visible;
        pointer-events:auto;
    }

    .mobile-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    
}

.mobile-menu ul li{
    margin: 20px 0;
}

.mobile-menu ul li a{
    text-decoration: none;
    font-size: 14px;
    color: purple;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    padding: 5px 0;
}

.mobile-menu ul li a:hover{
    background-color: purple;
    padding: 5px 30px;
    color: white;
}



.middle-section{
    border-right: 1px solid purple;
     border-left: 1px solid purple;
}

.arrow img{
    top: 309px;
}

.hero-description{
   width: 80%;
}

.heart-icon2 img {
    top: 320px;

}

}